<%= layout("boilerplate") %>
<body>
  <div class="col-8 offset-2">
  <form method="POST" action="/listings"novalidate class="needs-validation">
     <div class="mb-3">
      <label for="title" class="form-label ">Title</label>
    <input name="listing[title]" placeholder="Enter title" type="text " class="form-control" required />
    <div class="valid-feedback">
      good title
    </div>
    </div>
      <div class="mb-3">
    <label for="description" class="form-label ">description</label>
    <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
    <div class="valid-feedback">
      good description
    </div>
    </div>
    <div class="mb-3">
    <label for="image" class="form-label">image</label>
    <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control "required/>

    </div>
    <div class="row">
      <div class="mb-3 col-sm-4">
       <label for="price" class="form-label">price</label>
       <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required />
      <div class="invalid-feedback">
      enter valid price
      </div> 
      </div>
       <div class="mb-3 col-sm-8">
       <label for="country" class="form-label">country</label>
       <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
        <div class="invalid-feedback">
         enter valid country
        </div>
       </div>
       </div>
 
    <div class="mb-3">
    <label for="location" class="form-label ">location</label>
    <input name="lisiting[location]" placeholder="Enter location" type="text" class="form-control" required />
     <div class="invalid-feedback">
         enter valid location
        </div>
    </div>
    <div>
    <button type="submit">Add Listing</button>
    </div>
    </div>
  </form>
</body>
</body>
</html>