body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fc424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */

.add-btn {
  background-color: #fc424d;
  border: none;
}

/* Edit Page */

.edit-btn {
  background-color: #fc424d;
  border: none;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

/* nav page */

.btn-search {
  background-color: #fe424d;
  border-radius: 25px;
  color: #fff;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover {
  background-color: #fe424d;
  color: #fff;
}
.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}
.search-input {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
  text-decoration: none;
  color: black;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.reset-filter {
  color: #fe424d !important;
  
}
